@import "~vue-material/dist/theme/engine";

@include md-register-theme("default", (
        primary: #892996,
        accent: #521096,
        theme: light
));

@import "~vue-material/dist/theme/all";
